*.aux
*.log
*.out
*.synctex.gz
*.xyc
*.bbl
*.blg
*.dvi
*.toc
dist
.bundle
.idea
.hpc
*.iml
tmp
out
GUI/testdata/**/*.qpo
demo
package
Manifest
*eps-converted-to.pdf
lqplcode/**/*.qpo
lqplcode/*.qpo
coverage
no_dist
TAGS